*{
    box-sizing: border-box;
}

body{
    background-image: url(./married.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 4rem;
    font-weight: bold;
  justify-content: center;
  font-style: italic;
  margin-bottom: 10px;
  position: relative;
  margin-left: -20px;
    
}
.countdown-container{
    display: flex;
}

.big-text{
    margin: 0;
    font-size: 3rem;

    
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: space-evenly;
    
}

.small-text{
    font-size: 1rem;
    
    margin:0 2rem;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}

article{
    display: flex;

    font-style: italic;
    font-weight: 1000;
}


@media(min-width: 576px){
    .header{
        font-size: 4rem;
        font-style: italic;
        margin-top: 5rem;
        position: relative;
    }
    
    .countdown-container{
        display: flex;
        max-width: 1440px;
    }
    
    .big-text{
        font-size: 4rem;
        line-height: 1;
        margin: 0 2rem;
    }
    
    .small-text{
        font-size: 1.5rem;
        line-height: 1;
        margin: 0.1rem 2rem;
        text-align: center;
    
    }
    
    .days-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .hours-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .minutes-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .seconds-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem;
        font-style: italic;
        font-weight: 600;
    }
}